apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: MongoDB
    type: grafana-mongodb-datasource
    access: proxy
    url: mongodb://admin:sentiment_admin_2024@mongodb:27017
    editable: false
